@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
  --header-height: 90px;
}

@media screen and (max-width: 480px) {
  :root {
      --header-height: 65px;
    }
}
@media screen and (max-width: 375px) {
  :root {
      --header-height: 45px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  html {
    font-size: 100%; /* 1rem = 16px */
    line-height: normal;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;

  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  ol {
    list-style: none;
    padding-left: 0;
  }
  
  button,
  input,
  textarea {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 0;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: normal;
  } */
  
  body {
    min-height: 100vh;
    height: 100%;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
  }

  html, body {
  height: 100%; 
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

} */

.list_title {
	font-size: clamp(26px, 1.2vw, 38px);
  font-weight: bold;
	color: #7A70FF;
	margin-bottom: 20px;
}

.text_list {
	padding-left: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.text_list h4 {
	font-size: clamp(20px, 1.2vw, 30px);
  font-weight: bold;
	color: #7A70FF;
	margin-bottom: 5px;
}

.text_list p {
  font-family: "SF-Pro", sans-serif;
  font-size: clamp(18px, 1.2vw, 24px);
  line-height: 1.2;
  font-weight: 400;
  color: #480074;
}

.text_list li::marker {
	color: #480074;
}

.block_title,
.block_label {
	color: #7A70FF;
}



.wrapper {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

}

.main {
  flex: 1;
  overflow: hidden;
}

.link-btn {
  background: #5b50d8;
  font-family: "SF-Pro", sans-serif;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  transition: all ease 0.3s;



  @media screen and (min-width: 1024px) {
    &:hover{
        border: 1px solid #5b50d8;
        background-color: #443f8b;
        transition: all ease 0.3s;
    }
      
  }
  @media screen and (max-width: 768px) {
	width: -webkit-fill-available;
  }

}


.block_title{
  font-family: 'SF-Pro', sans-serif;
	font-size: clamp(32px, 2.4vw, 42px) !important;
	line-height: 1.2;
	font-weight: 400 !important;
  color: #480074;
}

.block-description{
  font-family: 'SF-Pro', sans-serif;
	font-size: clamp(18px, 1.2vw, 24px) !important;
	line-height: 1.2;
	font-weight: 500 !important;
  color: #480074;

}

.accent-text{
  font-style: italic;
  font-weight: 900;
}

.arrow-btn {
  font-size: clamp(32px, 1.2vw, 40px);
  border: 2px solid #5b50d8;
  color: #5b50d8;
  padding: 10px 20px;
  border-radius: 50%;
}

.section {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100dvh;
  padding: 35px 0;
  overflow: hidden;
  @media screen and (max-width: 768px) {
	padding: 30px 0;
  }
  @media screen and (max-width: 768px) {
    z-index: 1;
  }
}



.container {
  /* width: 80vw; */
  width: clamp(800px, 80vw, 1300px);
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
	  width: 95vw;
  }
}

  .list_title{
      font-size: clamp(26px, 1.2vw, 38px);
      color: #7A70FF;
      margin-bottom: 20px;
  }
  .text_list{

      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 7px;
      h4{
            font-size: clamp(20px, 1.2vw, 30px);
            color: #7A70FF;
            margin-bottom: 5px;
        }
  }
  .text_list li::marker {
      color: #480074; 
  }

.block_title,
.block_label {
  color: #7A70FF;
}

.block_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  gap: 50px;
  .img_conntainer {
    position: relative;
    width: 100%;
    flex: 1;
    img {
      width: 100%;
      height: -webkit-fill-available !important;
      object-fit: cover;
      @media screen and (max-width: 768px) {
        height: auto;
      }
    }
    .link-element{
      position: absolute;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 15px 10px;
      transition: all ease 0.3s;
      gap: 15px;
      bottom: 0;
      left: 0;
      h2{
            font-size: clamp(24px, 2.5vw, 50px);
      }
      svg{
        border: 1px solid #5b50d8;
        border-radius: 50%;
        fill: #5b50d8;
        padding: 5px;
        width: 40px;
        height: 40px;
      }
      @media screen and (min-width: 1024px) {
        &:hover{
          background-color: #5b50d8;
          transition: all ease 0.3s;
          h2{
            color: white;

          }
          svg{
            border: 1px solid white;
            fill: white;
          }
        }
      }
      @media screen and (max-width: 768px) {
        display: none;
        
      }
    }
    .mobile_content{
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg,rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
        align-items: flex-start;
        position: absolute;
        padding: 20px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        span{
          background-color: rgba(255, 255, 255, 0.9);

          font-size: clamp(17px, 5vw, 50px);
          border-radius: 20px;
          color: #5b50d8;
          padding: 5px 10px;
        }
        h2{
          font-size: clamp(30px, 7vw, 70px);
          line-height: 50px;
          color: #5b50d8;
          @media screen and (max-width: 475px) {
            line-height: 35px;
            
          }
          @media screen and (max-width: 375px) {
            line-height: 30px;
            font-size: clamp(22px, 5vw, 70px);

            
          }
        }
      }
    }
    
  }

  .info_content {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available ;
    justify-content: space-between;
    gap: 40px;
    flex: 1;
    .title_content{
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2{
        text-align: justify;

      }
    }
    @media screen and (max-width: 768px) {
      .title_content{
        display: none;
      }
      
    }
  }

    @media screen and (max-width: 1024px) {
      gap: 20px;
      
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    
    }
}

.mySwiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.swiper-pagination {
      margin-top: 35px;
      position: relative;
    }

.swiper-pagination-bullet {
  width: 30px;
  height: 10px;
  border-radius: 30%;
  transition: all ease 0.3s ;
  background-color: #5b50d8;
  @media screen and (max-width: 768px) {
    margin: 0 10px;
  }
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  border-radius: 30%;
  transition: all ease 0.3s ;
  background-color: #5b50d8;
   @media screen and (max-width: 768px) {
    margin: 0 10px;
  }
}
  